@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Whisper&display=swap');
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 10px;
}
form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    height: auto;
    gap: 10px;
    border: 3px solid rgba(231, 181, 123, 0.5);
    border-radius: 20px;
    margin: auto;
    background-color: rgba(252, 229, 202, 0.9);
    box-shadow: 0px 50px 100px 2px rgba(0, 0, 0, 0.5);
}
form h2 {
    padding-top: 10px;
    display: inline;
    margin: 0 auto;
    background-color: transparent;
}
form input, button {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(117, 100, 82, 0.9);
    padding: 5px 10px;
    transition: box-shadow 0.3s ease, border 0.3s ease;
}
form input:focus {
    outline: none;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.9);
    transition: box-shadow 0.5s ease;

}
form input:hover {
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.9);
    transition: box-shadow 0.5s ease;

}
form button:focus {
    outline: none;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.9);
    
}

form button:hover {
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.5);
    transition: 0.5s easy box-shadow;
}
form input {
    padding-left: 10px;
}
form :last-child{
    margin-top: 30px;
    margin-bottom: 20px;
}

.sign p {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100vw;
    background-color: rgba(231, 181, 123, 0.5);
    margin: 0;
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
}
@media (max-width: 1480px) {
    p {
      font-size: 20px;
      margin: 10px 0px;
    }
    form {
        width: 90%;
        height: auto;
    }
    form input, button {
        padding: 1px 3px;
    }
}
@media (max-width: 1080px) {
    p {
      font-size: 20px;
      margin: 10px 0px;
    }
    form {
        width: 90%;
        height: auto;
    }
    form input, button {
        padding: 2px 5px;
    }
}

@media (max-width: 600px) {
    form {
        width: 80%;
        height: auto;
    }
    form input, button {
        padding: 5px 10px;
    }
}