* {
  background-color: rgb(255, 242, 227);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  font-size: 18px;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
}
.btn-start,
.btn-stop,
.btn-finish {
  cursor: pointer;
  display: inline-block;
  background-color: rgb(87, 178, 148);
  margin: 20px 10px 0 10px;
  padding: 3% 6%;
  color: white;
  font-weight: 400;
  font-size: 24px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  outline: none;
  box-shadow: 2px 8px rgba(125, 125, 125, 1);

  transition: 
    0.3s ease color, 
    0.3s ease background-color,
    0.3s ease border-radius;
}
.btn-start:hover,
.btn-stop:hover,
.btn-finish:hover {
  background-color: rgb(110, 218, 182);
  box-shadow: 1px 4px rgba(0, 0, 0, 0.1);
  transition: 
    0.3s ease background-color,
    0.5s ease box-shadow,
}
.btn-start:active,
.btn-stop:active,
.btn-finish:active {
  background-color: rgb(71, 148, 122);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  transform: translateY(4px);
}
.btn-disabled {
  background-color: rgba(87, 178, 148, 0.5);
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.7;
}


.category-container {
  width: 50vw;
  margin: .8em .2em;
  display: flex;
  justify-content: space-between;
}
.item-container button{
  width: 15vw;
  display: flex;
}
.second-container button {
  width: 15vw;
  display: flex;
}
.sub-container button {
  width: 15vw;
  display: flex;
}
.item-container-text {
  margin: 5px 10px;
}


.container-with-time {
  margin: 10px;
}


button.selected,
button.not-selected {
  padding: 7px;
  margin: 10px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 2px 8px rgba(125, 125, 125, 1);
  transition: 
    0.2s ease background-color,
    0.5s ease box-shadow,

}
.selected {
  background-color: rgb(110, 218, 182);
  color: azure;

} 
.selected:hover {
  background-color: rgb(110, 218, 182);
  color: azure;
}
.not-selected:hover {
  background-color: rgba(0, 123, 255, 0.5);
  color: azure;
  background-color: rgb(110, 218, 182);
  box-shadow: 1px 4px rgba(0, 0, 0, 0.1);

  transition: 
    0.2s ease background-color,
    0.5s ease box-shadow,
}
.current-categry-text {
  position: fixed;
  right: 2vw;
  top: 2vh;
  padding: 0 10px;
  border: 2px solid rgb(140, 140, 140);
  border-radius: 20px;
  font-weight: 700;
  font-size: 24px;
}