@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Shadows+Into+Light&family=The+Girl+Next+Door&display=swap');
* {
  background-color: rgb(255, 242, 227);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  font-size: 18px;
  box-sizing: border-box;

}

html {
  overflow-y: scroll;
}
.container-path {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
.container-path p {
  /* font-family: "Shadows Into Light", cursive; */
  /* font-family: "Edu AU VIC WA NT Guides", cursive; */
  /* font-family: "The Girl Next Door", cursive; */
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  margin: 0;
  padding: 0;

}
.btn-container {
  display: flex;
  justify-content: space-evenly;
}
.btn-start,
.btn-stop,
.btn-finish {
  cursor: pointer;
  display: inline-block;
  background-color: rgb(87, 178, 148);
  margin: 20px 10px 0 10px;
  padding: 3% 6%;
  color: white;
  font-weight: 400;
  font-size: 24px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  outline: none;
  box-shadow: 2px 8px rgba(125, 125, 125, 1);

  transition: 
    0.3s ease color, 
    0.3s ease background-color,
    0.3s ease border-radius;
}
.btn-start:hover,
.btn-stop:hover,
.btn-finish:hover {
  background-color: rgb(110, 218, 182);
  box-shadow: 1px 4px rgba(0, 0, 0, 0.1);
  transition: 
    0.3s ease background-color,
    0.5s ease box-shadow,
}
.btn-start:active,
.btn-stop:active,
.btn-finish:active {
  background-color: rgb(71, 148, 122);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  transform: translateY(4px);
}
.btn-disabled {
  background-color: rgba(87, 178, 148, 0.5);
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.7;
}

.wstecz-button {
  font-size: 60px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  transition: 
    0.2s ease transform,
    0.1s ease text-shadow,
}
.wstecz-button:hover {
  transform: translateX(-50px);
  text-shadow: 0px 0px rgba(0, 0, 0, 0.5);
  transition: 
    0.2s ease transform,
    0.1s ease text-shadow,
}

.category-container {
  width: 50vw;
  margin: .8em .2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-container button,
.second-container button,
.sub-container button  {
  width: 23vw;
  display: flex;
  justify-content: center;
}

.container-with-time {
  margin: 10px;
}

button.selected,
button.not-selected {
  padding: 9px;
  margin: 18px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 2px 8px rgba(125, 125, 125, 1);
  transition: 
    0.2s ease background-color,
    0.4s ease box-shadow,

}
.selected {
  background-color: rgb(110, 218, 182);
  color: azure;

} 
.selected:hover {
  background-color: rgb(110, 218, 182);
}
.not-selected:hover {
  color: azure;
  background-color: rgb(110, 218, 182);
  box-shadow: 1px 4px rgba(0, 0, 0, 0.1);

  transition: 
    0.2s ease background-color,
    0.4s ease box-shadow,
}
.current-categry-text {
  position: fixed;
  right: 2vw;
  top: 2vh;
  padding: 0 10px;
  border: 2px solid rgb(140, 140, 140);
  border-radius: 20px;
  font-weight: 700;
  font-size: 24px;
}

/* @media (max-width: 768px) {
  .btn-start,
  .btn-stop,
  .btn-finish {
    font-size: 54px;
  }

  .category-container {
    width: 90vw;
  }

  .item-container button,
  .second-container button,
  .sub-container button {
    width: 25vw;
    padding: 6%;
    margin-bottom: 20px;
  }

  .current-categry-text {
    top: 1vh;
    background-color: transparent;
    pointer-events: none;
  }
  .current-categry-text p {
    background-color: transparent;
  }

} */


/* tutaj zminec z powrotem na 1080 */
@media (max-width: 1080px) {
  p {
    font-size: 50px;
    margin: 10px 0px;
  }
  .main-container {
    width: 95vw;
    margin: 0;
    padding: 0;
  }

  .btn-start,
  .btn-stop,
  .btn-finish {
    font-size: 84px;
  }

  .category-container {
    width: 95vw;
  }

  .item-container button,
  .second-container button,
  .sub-container button {
    width: 27vw;
    padding: 6%;
    margin-bottom: 25px;
    font-size: 50px;
    word-break: break-word;
  }

  .current-categry-text {
    top: 1vh;
    background-color: transparent;
    pointer-events: none;
  }
  .current-categry-text p {
    font-size: 46px;
    background-color: transparent;
  }

}