.choose-your-l1-l2 {
    display: flex;
    justify-content: center;
    height: 100vh;
    /* width: 100vw; */
    /* width: 98.95%; */
    box-sizing: border-box;
} 
html {
    overflow-y: scroll;
  }
.button-container {
    display: flex;
}

.choose-l1,
.choose-l2 {
    font-size: 72px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 49vw;
    transition: 
    0.3s ease box-shadow,
    0.3s ease text-shadow,
    0.3s ease font-size;
    color: rgba(4, 8, 6, 0.5);
    text-shadow: 0px 0px 0px transparent;

}

.choose-l1 {
    background-color: rgba(110, 218, 182, 0.5);
    border-right: 1px solid grey;
}
.choose-l2 {
    background-color: rgba(110, 218, 182, 0.5);
    border-left: 1px solid grey;
}

.choose-l1:hover {
    box-shadow: 0px 0px 1000px 100px;
    text-shadow: 13px 50px 15px black;
    color: rgba(4, 8, 6, 0.8);
    transition: 
    0.3s ease box-shadow,
    0.3s ease text-shadow,
    0.3s ease color,
    0.3s ease font-size;
    font-size: 96px;

}
.choose-l2:hover {
    box-shadow: 0px 0px 1000px 50px;
    text-shadow: 13px 50px 15px black;
    color: rgba(4, 8, 6, 0.8);
    transition: 
    0.3s ease box-shadow,
    0.3s ease text-shadow,
    0.3s ease color,
    0.3s ease font-size;

    font-size: 96px;

}